// Breakpoints
$mobile: 320px;
$tablet: 768px;
$desktop: 1360px;

// COLORS
//Text Colors
$textBlackColor: #333333;
$textWhiteColor: #ffffff;
$textGreenColor: #28A745;
$textBlueColor: #0284D0;
$heroTextColor: #E9E9E9;
$textColorGrey: #808080;
$textColorRed: #ff0000;

//Background colors
$backgroundColorBlue: #0284D0;
$backgroundColorGreen: #28A745;
$backgroundColorGrey: #F4F4F4;
$backgroundColorBlack: #333333;
$backgroundColorWhite: #FFFFFF;

//Background button colors
$buttonBackgroundGreen: #28A745;
$buttonBackgroundWhite: #FFFFFF;
$buttonBackgroundBlue: #0284D0;

// Icon color
$iconWhite: #FFFFFF;

// Accent color
$accentColor: #28A745;