<section class="advantage">
  <div class="container advantage-container">
    <picture>
      <source media="(min-width: 1360px)" srcset="
      ./images/advantage/desktop/people.webp 1x,
      ./images/advantage/desktop/people@2x.webp 2x
      " type="image/webp" />

      <source media="(min-width: 1360px)" srcset="
            ./images/advantage/desktop/people.jpg 1x,
            ./images/advantage/desktop/people@2x.jpg 2x
      " type="image/webp" />

      <source media="(min-width: 768px)" srcset="
            ./images/advantage/tablet/people.webp 1x,
            ./images/advantage/tablet/people@2x.webp 2x
      " type="image/webp" />

      <source media="(min-width: 768px)" srcset="
            ./images/advantage/tablet/people.jpg 1x,
            ./images/advantage/tablet/people@2x.jpg 2x
      " />

      <source media="(max-width: 767px)" srcset="
            ./images/advantage/mobile/people.webp 1x,
            ./images/advantage/mobile/people@2x.webp 2x
      " type="image/webp" />

      <source media="(max-width: 767px)" srcset="
            ./images/advantage/mobile/people.jpg 1x,
            ./images/advantage/mobile/people@2x.jpg 2x
      " />
      <img src="#" alt="people" class="advantage-image">
    </picture>
    <div class="advantage-info">
      <p class="advantage-info__suptitle">What you are looking for</p>
      <h2 class="advantage-info__title">We provide bespoke solutions</h2>
      <p class="advantage-info__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum
        dignissimos quae laudantium
        asperiores nam aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste
        maiores deleniti?</p>
      <button type="button" class="advantage-into__button">Read More</button>
    </div>
  </div>
</section>