<section class="blog" id="Blog">
  <div class="container blog-container">
    <div class="image-wrapper">
      <picture>
        <source media="(min-width: 768px)" srcset="
                    ./images/blog/blog.webp 1x,
                    ./images/blog/blog@2x.webp 2x
              " type="image/webp" />

        <source media="(min-width: 768px)" srcset="
                    ./images/blog/blog.jpg 1x,
                    ./images/blog/blog@2x.jpg 2x
              " />

        <source media="(max-width: 767px)" srcset="
                    ./images/blog/blog.webp 1x,
                    ./images/blog/blog@2x.webp 2x
              " type="image/webp" />

        <source media="(max-width: 767px)" srcset="
                    ./images/blog/blog.jpg 1x,
                    ./images/blog/blog@2x.jpg 2x
              " />
        <img src="#" alt="people" class="image-wrapper__item">
      </picture>
    </div>
    <div class="blog-info">
      <p class="blog-info__suptitle">April 16 2020</p>
      <h2 class="blog-info__title">Blog Post One</h2>
      <p class="blog-info__text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptate, ipsum dignissimos
        quae laudantium asperiores nam
        aliquid impedit harum illum dolore explicabo ab dolores itaque rerum temporibus doloribus iste maiores deleniti?
      </p>
      <button type="button" class="blog-into__button">Read More</button>
    </div>
  </div>
</section>