<section class="contact" id="Contact">
  <div class="container contact-container">
    <picture>
      <source media="(min-width: 1360px)" srcset="
                  ./images/contact/desktop/contact-1-desktop.webp 1x,
                  ./images/contact/desktop/contact-1-desktop@2x.webp 2x
                  " type="image/webp" />

      <source media="(min-width: 1360px)" srcset="
                        ./images/contact/desktop/contact-1-desktop.jpg 1x,
                        ./images/contact/desktop/contact-1-desktop@2x.jpg 2x
                  " />

      <source media="(min-width: 768px)" srcset="
                        ./images/contact/tablet/contact-1-tablet.webp 1x,
                        ./images/contact/tablet/contact-1-tablet@2x.webp 2x
                  " type="image/webp" />

      <source media="(min-width: 768px)" srcset="
                        ./images/contact/tablet/contact-1-tablet.jpg 1x,
                        ./images/contact/tablet/contact-1-tablet@2x.jpg 2x
                  " />

      <source media="(max-width: 767px)" srcset="
                        ./images/contact/mobile/contact-1-mobile.webp 1x,
                        ./images/contact/mobile/contact-1-mobile@2x.webp 2x
                  " type="image/webp" />

      <source media="(max-width: 767px)" srcset="
                        ./images/contact/mobile/contact-1-mobile.jpg 1x,
                        ./images/contact/mobile/contact-1-mobile@2x.jpg 2x
                  " />
      <img src="#" alt="people" class="contact-image">
    </picture>
    <div class="contact-wrapper">
      <h2 class="contact-title">Request Callback</h2>
      <form class="contact-form">
        <label class="contact-form__label" for="name"></label>
        <input class="contact-form__input" type="text" name="name" id="name" placeholder="Enter your name">
        <label class="contact-form__label" for="email"></label>
        <input class="contact-form__input" type="email" name="email" id="email" placeholder="Enter email*">
        <div class="contact-require">
          <svg class="contact-require__icon" width="20" height="20">
            <use href="./images/svg/sprite.svg#icon-warning"></use>
          </svg>
          <p class="contact-require__text">This is a required field</p>
        </div>
        <button class="contact-form__button" type="submit">Send</button>
      </form>
    </div>
  </div>
</section>