<header class="header">
  <div class="container header-container">
    <a href="#" class="header-logo">
      <svg width="39" height="35" class="header-logo__icon">
        <use href="./images/svg/sprite.svg#icon-book"></use>
      </svg>
      Finance<span class="header-logo__span">Ledger</span>
    </a>
    <nav class="header-nav">
            <ul class="header-nav__list">
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Home</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">About</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Cases</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Blog</a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">Contact</a>
                </li>
            </ul>
      </nav>
  </div>
</header>
