<section class="team">
  <div class="container team-container">
    <p class="team-suptitle">Who we are</p>
    <h2 class="team-title">Our Professional Team</h2>
    <p class="team-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, sapiente!</p>
    <div class="team-images">
      <ul class="team-images__list">
        <li class="team-images__item">
          <div class="team-images__wrapper">
            <picture>
              <source media="(min-width: 1360px)" srcset="
              ./images/team/desktop/team-1-desktop.webp 1x,
              ./images/team/desktop/team-1-desktop@2x.webp 2x
                              " type="image/webp" />

              <source media="(min-width: 1360px)" srcset="
              ./images/team/desktop/team-1-desktop.jpg 1x,
              ./images/team/desktop/team-1-desktop@2x.jpg 2x
                              " />

              <source media="(min-width: 768px)" srcset="
              ./images/team/tablet/team-1-tablet.webp 1x,
              ./images/team/tablet/team-1-tablet@2x.webp 2x
                              " type="image/webp" />

              <source media="(min-width: 768px)" srcset="
              ./images/team/tablet/team-1-tablet.jpg 1x,
              ./images/team/tablet/team-1-tablet@2x.jpg 2x
                              " />

              <source media="(max-width: 767px)" srcset="
              ./images/team/mobile/team-1-mobile.webp 1x,
              ./images/team/mobile/team-1-mobile@2x.webp 2x
                              " type="image/webp" />

              <source media="(max-width: 767px)" srcset="
              ./images/team/mobile/team-1-mobile.jpg 1x,
              ./images/team/mobile/team-1-mobile@2x.jpg 2x
                              " />
              <img src="#" alt="people" class="team-images__image">

            </picture>
            <div class="team-overlay">
              <ul class="team-overlay__list">
                <li class="team-overlay__item">
                  <a href="https://www.facebook.com/" target="_blank" class="team-overlay__link">
                    <svg width="35" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-overlay__item">
                  <a href="https://twitter.com/" target="_blank" class="team-overlay__link">
                    <svg width="35" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-overlay__item">
                  <a href="https://www.youtube.com/" target="_blank" class="team-overlay__link">
                    <svg width="40" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-overlay__item">
                  <a href="https://www.linkedin.com/" target="_blank" class="team-overlay__link">
                    <svg width="31" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <h3 class="team-images__title">John Doe</h3>
          <p class="team-images__text">President</p>
        </li>
        <li class="team-images__item">
          <div class="team-images__wrapper">
            <picture>
              <source media="(min-width: 1360px)" srcset="
                      ./images/team/desktop/team-2-desktop.webp 1x,
                      ./images/team/desktop/team-2-desktop@2x.webp 2x
                                      " type="image/webp" />

              <source media="(min-width: 1360px)" srcset="
                      ./images/team/desktop/team-2-desktop.jpg 1x,
                      ./images/team/desktop/team-2-desktop@2x.jpg 2x
                                      " />

              <source media="(min-width: 768px)" srcset="
                      ./images/team/tablet/team-2-tablet.webp 1x,
                      ./images/team/tablet/team-2-tablet@2x.webp 2x
                                      " type="image/webp" />

              <source media="(min-width: 768px)" srcset="
                      ./images/team/tablet/team-2-tablet.jpg 1x,
                      ./images/team/tablet/team-2-tablet@2x.jpg 2x
                                      " />

              <source media="(max-width: 767px)" srcset="
                      ./images/team/mobile/team-2-mobile.webp 1x,
                      ./images/team/mobile/team-2-mobile@2x.webp 2x
                                      " type="image/webp" />

              <source media="(max-width: 767px)" srcset="
                      ./images/team/mobile/team-2-mobile.jpg 1x,
                      ./images/team/mobile/team-2-mobile@2x.jpg 2x
                                      " />
              <img src="#" alt="people" class="team-images__image">

            </picture>
            <div class="team-overlay">
              <ul class="team-overlay__list">
                <li class="team-overlay__item">
                  <a href="https://www.facebook.com/" target="_blank" class="team-overlay__link">
                    <svg width="35" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-overlay__item">
                  <a href="https://twitter.com/" target="_blank" class="team-overlay__link">
                    <svg width="35" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-overlay__item">
                  <a href="https://www.youtube.com/" target="_blank" class="team-overlay__link">
                    <svg width="40" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-overlay__item">
                  <a href="https://www.linkedin.com/" target="_blank" class="team-overlay__link">
                    <svg width="31" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <h3 class="team-images__title">Jane Doe</h3>
          <p class="team-images__text">Vice President</p>
        </li>
        <li class="team-images__item">
          <div class="team-images__wrapper">
            <picture>
              <source media="(min-width: 1360px)" srcset="
                      ./images/team/desktop/team-3-desktop.webp 1x,
                      ./images/team/desktop/team-3-desktop@2x.webp 2x
                                      " type="image/webp" />

              <source media="(min-width: 1360px)" srcset="
                      ./images/team/desktop/team-3-desktop.jpg 1x,
                      ./images/team/desktop/team-3-desktop@2x.jpg 2x
                                      " />

              <source media="(min-width: 768px)" srcset="
                      ./images/team/tablet/team-3-tablet.webp 1x,
                      ./images/team/tablet/team-3-tablet@2x.webp 2x
                                      " type="image/webp" />

              <source media="(min-width: 768px)" srcset="
                      ./images/team/tablet/team-3-tablet.jpg 1x,
                      ./images/team/tablet/team-3-tablet@2x.jpg 2x
                                      " />

              <source media="(max-width: 767px)" srcset="
                      ./images/team/mobile/team-3-mobile.webp 1x,
                      ./images/team/mobile/team-3-mobile@2x.webp 2x
                                      " type="image/webp" />

              <source media="(max-width: 767px)" srcset="
                      ./images/team/mobile/team-3-mobile.jpg 1x,
                      ./images/team/mobile/team-3-mobile@2x.jpg 2x
                                      " />
              <img src="#" alt="people" class="team-images__image">

            </picture>
            <div class="team-overlay">
              <ul class="team-overlay__list">
                <li class="team-overlay__item">
                  <a href="https://www.facebook.com/" target="_blank" class="team-overlay__link">
                    <svg width="35" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-facebook"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-overlay__item">
                  <a href="https://twitter.com/" target="_blank" class="team-overlay__link">
                    <svg width="35" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-twitter"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-overlay__item">
                  <a href="https://www.youtube.com/" target="_blank" class="team-overlay__link">
                    <svg width="40" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-youtube"></use>
                    </svg>
                  </a>
                </li>
                <li class="team-overlay__item">
                  <a href="https://www.linkedin.com/" target="_blank" class="team-overlay__link">
                    <svg width="31" height="35" class="team-overlay__icon">
                      <use href="./images/svg/sprite.svg#icon-linkedin"></use>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <h3 class="team-images__title">Steve Smith</h3>
          <p class="team-images__text">Marketing Head</p>
        </li>
      </ul>
    </div>
  </div>
</section>