.about-container {
  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
}

.about-info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 40px 30px;
  background-color: $backgroundColorGreen;

  @include for-size(tablet) {
    width: 50%;
  }

  @include for-size(desktop) {
    padding: 80px 0 0 20px;
  }
}

.about-info__suptitle {
  margin-bottom: 8px;

  font-size: 18px;
  line-height: 1.66;

  @include for-size(tablet) {
    font-size: 20px;
  }
}

.about-info__title {
  margin-bottom: 24px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;
}

.about-info__text {
  margin-bottom: 24px;

  line-height: 1.6;

  @include for-size(tablet) {
    font-size: 18px;
  }

  @include for-size(desktop) {
    width: 606px;
  }
}

.about-into__button {
  width: 158px;
  padding: 10px 36px;

  border: 1px solid #FFFFFF;
  border-radius: 5px;

  transition: color 200ms linear, background 200ms linear;

  &:hover,
  &:focus {
    color: $textGreenColor;
    background-color: $buttonBackgroundWhite;
  }

  @include for-size(tablet) {
    width: 167px;
  }
}

.image-wrapper {
  width: 100%;

  @include for-size(tablet) {
    width: 50%;
  }
}

.image-wrapper__item {
  width: 100%;

  @include for-size(tablet) {
    height: 100%;
    object-fit: cover;
  }
}