input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill {
  border: 0;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
}

.contact {
  background-color: $backgroundColorGrey;

  @include for-size(tablet) {
    background-color: $backgroundColorWhite;
    padding-bottom: 40px;
  }

  @include for-size(desktop) {
    background-color: $backgroundColorGrey;
    padding-bottom: 0;
  }
}

.contact-container {
  max-width: 100%;
  text-align: center;

  @include for-size(tablet) {
    display: flex;
  }
}

.image-wrapper {
  width: 100%;

  @include for-size(tablet) {
    width: 50%;
  }
}

.contact-wrapper {
  background-color: $backgroundColorGrey;

  padding: 40px 20px;

  @include for-size(tablet) {
    width: 50%;
    text-align: left;
    padding: 40px 32px;
  }

  @include for-size(desktop) {
    display: flex;
    flex-direction: column;
    justify-content: center;


  }
}

.contact-title {
  margin-bottom: 32px;

  width: 147px;
  color: $textBlackColor;
  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  @include for-size(tablet) {
    width: auto;
  }
}

.contact-form {
  position: relative;
  display: flex;
  flex-direction: column;

  @include for-size(desktop) {
    max-width: 620px;
  }
}

.contact-form__input {
  outline: none;
  border: none;
  padding: 9px 0 7px 8px;
  margin-bottom: 32px;
}

.contact-form__input:nth-child(4) {
  margin-bottom: 40px;

  @include for-size(desktop) {
    margin-bottom: 60px;
  }
}

.contact-form__input::placeholder {
  font-size: 16px;
  line-height: 1.44;

  color: $textColorGrey;
}

.contact-form__button {
  color: $textWhiteColor;
  background-color: $buttonBackgroundGreen;
  border-radius: 5px;
  padding: 10px 0;

  transition: opacity 200ms linear;

  &:focus,
  &:hover {
    opacity: 0.9;
  }
}

.contact-require {
  position: absolute;
  top: 110px;

  display: flex;
  align-items: center;

  padding-left: 5px;

}

.contact-require__icon {
  margin-right: 5px;
}

.contact-require__text {
  font-size: 13px;
  color: $textColorRed;
  display: inline-block;
}