.cases {

  color: $textBlackColor;
  padding: 40px 0 40px 0;
}

.cases-container {
  text-align: center;
  padding: 0 15px;
}

.cases-suptitle {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.66;

  @include for-size(tablet) {
    font-size: 20px;
    line-height: 1.65;

    margin-bottom: 24px;
  }
}

.cases-title {
  margin-bottom: 20px;

  font-weight: 300;
  font-size: 38px;
  line-height: 1.26;

  @include for-size(tablet) {
    margin-bottom: 24px;
  }
}

.cases-text {
  line-height: 1.6;

  @include for-size(tablet) {
    font-size: 18px;
    line-height: 1.56;
  }
}